:root {
    --dark-green : #014d2f;
    --medium-green : #00862f;
    --light-green : rgb(245, 255, 235);
}


.navbar {
    background: rgb(245, 255, 235);
    font-family: "Montserrat", sans-serif;
}
.nav-link-custom{
    color: rgba(48, 89, 62, 0.747);
    font-weight: 600;
    margin-right: 2em;
    text-decoration: none;
}
.active-custom {
    color: var(--dark-green);
}
.nav-btn-custom {
    margin-left: auto;
    background: var(--dark-green);
    padding: .35em 1.5em;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.hero-container {
    font-family: "PT Serif", serif;
    background: rgb(245, 255, 235);
    font-weight: 700;
}
.hero-title {
    color: var(--dark-green);
    font-family: "PT Serif", serif;
}
.hero-image {
    max-width: 450px;
    border: 2px solid var(--medium-green);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.hero-item-desc {
    color: var(--medium-green);
    font-weight: lighter;
    font-size: 12px;
}

.hero-item-icon {
    color: var(--medium-green);
}

.features-container {
    font-family: "PT Serif", serif;
    color: var(--dark-green);
    padding-bottom: 100px;
}

.features-desc {
    color: var(--medium-green);
    font-size: 14px;
}
.feature-item {
    border: 1px solid rgba(0, 0, 0, 0.128);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: white;
    cursor: pointer;
    transform: scale(1);
    transition: all 500ms;
}

.feature-item:hover {
    transform: scale(1.05) translateY(-.5em);
    transition: all 500ms;
    
}

.feature-item-img {
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
}

.feature-item-reviews {
    top: 0px;
}



.feature-item-desc {
    margin-top: 7em;
}

.food-img {
    max-width: 250px;
}

.drinks-img {
    max-width: 120px;
}

.favorites-img {
    max-width: 170px;
}

.reviews-img {
    max-width: 200px;
}




/* Favorites */



.trash_icon {   
    position: absolute;
    top: -10px;
    right: 10px;
    transform: translateX(10px);
    right: 10px;
    font-size: 1.5rem;
    color: black;
    transition: all 200ms;
    opacity: 0;
}

.trash_icon:hover {
    color: darkgray;
    transition: all 200ms;
    cursor: pointer;
}


body .menu .menu_card:hover .heart-icon {
    opacity: 1;
    transform: translateX(0);
}
body .menu .menu_card:hover .trash_icon {
    opacity: 1;
    transform: translateX(0);
}


.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: var(--dark-green);
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 280px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu_info {
    position: relative;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: var(--dark-green);
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}