{% extends "base.html" %}
{% load static %}
{% block meta %}
<title>SiBuk</title>
{% endblock meta %}

{% block content %}
<div class="container mx-auto mt-6 p-6 bg-white rounded shadow-lg">
    <img class="w-[12.5%] max-w-md" alt="{{ drink.product }}">
    <br>
    <h1 class="text-2xl font-bold mb-4">{{ drink.product }}</h1>
    <p><strong>Category:</strong> {{ drink.Category }}</p>
    <p><strong> Merchant Name:</strong> {{ drink.merchant_name }} </p>
    <p><strong>Merchant Area:</strong> {{ drink.merchant_area }}</p>
    <p><strong>Product Description:</strong> {{ drink.description }}</p>
    <br>
    <button onclick="returnToDrink()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Back to Drink</button>
</div>

<script src="{% static 'food/js/reviewDrink.js' %}"></script>
{% endblock content %}

{% block script %}
<script src="/static/js/nav_script.js"></script>
<script src="/static/js/modal_drink.js"></script>
{% endblock script %}