{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-2 md:grid-cols-5 gap-4 px-4 md:px-0">
    {% for review in reviews %}
        <div class="max-w-md rounded overflow-hidden shadow-lg bg-white relative border">
            <div class="px-4 md:px-6 py-4">
                <div class="md:text-xl text-[#005b9c] font-inter font-bold mb-2">
                    Product: {{ review.content_type.product }}
                </div>
                <div class="md:text-xl text-[#005b9c] font-inter font-bold mb-2">
                    Rating: {{ review.rating }}
                </div>
                <div class="text-sm md:text-gray-600 mb-2">
                    Review: {{ review.ulasan }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div id="review-container" class="d-flex flex-wrap gap-4 justify-content-center mt-4">
        <!-- Will be filled with partial html -->
    </div>
</div>

<script>
    $(document).ready(function() {
        // Function to fetch and render reviews based on sorting criteria
        function fetchReviews(sortBy) {
            $.ajax({
                url: "{% url 'reviews:get_reviews_template' %}",
                method: "GET",
                data: {sort_by: sortBy},
                dataType: 'json',
                success: function(response) {
                    $("#review-container").html(response.html_content);
                }
            });
        }

        // Event listener for dropdown change
        $("#sort-by-dropdown").change(function() {
            var selectedSortBy = $(this).val();
            fetchReviews(selectedSortBy);
        });

        fetchReviews("reviews");
    });
</script>

{% endblock content %}
