<!-- Avoid repeating the graphic by implementing as symbol -->
<svg class="hidden">
    <symbol id="star" width="32" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.77 11.857H19.74L15.99.5l-3.782 11.357H0l9.885 6.903-3.692 11.21 9.736-7.05 9.796 6.962-3.722-11.18 9.766-6.845z" fill="currentColor"/></symbol>
</svg>

<div class="p-12 mx-autp max-w-4xl font-sans leading-normal text-gray-700">
    <h1 class="font-bold">
        SVG Star Rating By Percentage</h1>
    <p class="mt-3">
        Show an exact representation of a rating by changing the <code>width</code> value of the second set of stars.
    </p>
    
    <div class="relative inline-block mt-8">
        <div class="text-gray-200 inline-flex space-x-1">
            <svg viewBox="0 0 32 30" class="w-8 h-8">
                <use xlink:href="#star"></use>
            </svg>
            <svg viewBox="0 0 32 30" class="w-8 h-8">
                <use xlink:href="#star"></use>
            </svg>
            <svg viewBox="0 0 32 30" class="w-8 h-8">  
                <use xlink:href="#star"></use>
            </svg>    
            <svg viewBox="0 0 32 30" class="w-8 h-8">
                <use xlink:href="#star"></use>
            </svg>    
            <svg viewBox="0 0 32 30" class="w-8 h-8">
                <use xlink:href="#star"></use>
            </svg>    
        </div>
        <div class="overflow-hidden absolute left-0 top-0 text-yellow-400 flex space-x-1" style="width: 26%">
            <svg viewBox="0 0 32 30" class="w-8 h-8 flex-shrink-0">
                <use xlink:href="#star"></use>
            </svg>
            <svg viewBox="0 0 32 30" class="w-8 h-8 flex-shrink-0	">
                <use xlink:href="#star"></use>
            </svg>
            <svg viewBox="0 0 32 30" class="w-8 h-8 flex-shrink-0	">  
                <use xlink:href="#star"></use>
            </svg>    
            <svg viewBox="0 0 32 30" class="w-8 h-8 flex-shrink-0	">
                <use xlink:href="#star"></use>
            </svg>    
            <svg viewBox="0 0 32 30" class="w-8 h-8 flex-shrink-0	">
                <use xlink:href="#star"></use>
            </svg>    
        </div>        
    </div>
</div>