{% extends "base.html" %}
{% load static %}
{% block meta %}
<title>SiBuk</title>
{% endblock meta %}

{% block content %}
<div class="container mx-auto mt-6 p-6 bg-white rounded shadow-lg">
    <br>
    <h1 class="text-2xl font-bold mb-4">{{ food.product.title }}</h1>
    <p><strong>Merchant Area:</strong> {{ food.merchant_area.title }}</p>
    <p><strong>Merchant Name:</strong> {{ food.merchant_name }}</p>
    <p><strong>Product Description:</strong> {{ food.description }}</p>
    <p><strong>Category:</strong> {{ food.category }}</p>
    <br>
    <button onclick="window.location.href = `{% url 'foods:show_food' %}` " class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Back to Food</button>
    <button id="reviewButton" data-content-type-id="food" data-object-id="{{ food.pk }}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Review</button>
</div>

<script src="{% static 'food/js/reviewFood.js' %}"></script>
{% endblock content %}

{% block script %}
</script>
<script src="/static/js/nav_script.js"></script>
<script src="/static/js/modal_food.js"></script>
{% endblock script %}
