{% extends "base.html" %}
{% load static %}
{% block meta %}
<title>SiBuk</title>
{% endblock meta %}

{% block content %}
<div class="d-flex flex-wrap gap-4 justify-content-center mt-4">
    <div class="card-box">
        <div class="card-box-inner shadow-sm">
          <div class="card-box-front d-flex gap-4">
            <img
            {% if food.category == "Nasi" %}
              src="{% static  'images/foods/rice.png' %}"
            {% elif food.category == "Mie" %}
              src="{% static  'images/foods/noodle.png' %}"
            {% elif food.category == "Snack" %}
              src="{% static  'images/foods/snack.png' %}"
            {% else %}
              src="{% static  'images/foods/other.png' %}"
            {% endif %}
              class="card-decoration"
              alt="card-decoration"
            />
            <div class="card-box-description">
              <h5 class="card-box-title mt-4" style="font-size: 1.25rem;">{{ food.product.title }}</h5>
              <div>
                <p><strong>Merchant Area:</strong> {{ food.merchant_area.title }}</p>
                <p><strong>Merchant Name:</strong> {{ food.merchant_name }}</p>
                <p><strong>Product Description:</strong> {{ food.description }}</p>
                <p><strong>Category:</strong> {{ food.category }}</p>
                <button type="button" onclick="window.location.href = `{% url 'foods:show_food' %}` " class="btn btn-outline-success">Back to Food</button>
                <button id="reviewButton" data-content-type-id="food" data-object-id="{{ food.pk }}" class="btn btn-outline-warning">Review</button>

              </div>
            </div>
          </div>
        </div>
    </div>
   
</div>


<script src="{% static 'food/js/reviewFood.js' %}"></script>
{% endblock content %}

{% block script %}
</script>
<script src="/static/js/nav_script.js"></script>
<script src="/static/js/modal_food.js"></script>
{% endblock script %}
