{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Favorites | SiBuk</title>
{% endblock meta %} {% block content %}
<!--Menu-->

<div class="menu" id="Menu">
  <h1>Your<span>Favorites</span></h1>

  <div class="menu_box">
    <div class="menu_card">
      <div class="menu_info">
        <h2>Buger</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum
          assumenda voluptates
        </p>
        <h3>$20.00</h3>
        <div class="menu_icon">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <a href="#" class="menu_btn">Order Now</a>
        <div class="trash_icon"><i class="fa-solid fa-trash"></i></div>
      </div>
    </div>
  </div>

  <!-- #### Card Item #### -->

  {% endblock content %}
</div>
