{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Favorites | SiBUk</title>
{% endblock meta %}

{% block content %}
<!--Menu-->

<h1 class="favorite-headline mt-4 text-center">Your<span class="favorite-sub-headline">Favorites</span></h1>



  <div class="container-fluid m-4">
    <div class="card-box shadow-sm">
      <div class="card-box-inner">
        <div class="card-box-front d-flex gap-4 align-items-center">
          <img src="{%static 'images/card-decoration.jpg'%}" class="card-decoration" alt="card-decoration" />
          <div class="card-box-description">
  
            <h2>Buger</h2>
            <p>
              area
            </p>
            <h3>Categories</h3>
  
  
  
  
          </div>
        </div>
        
        <div class="card-box-back">
          <div class="trash_icon"> <i class="fa-solid fa-trash"></i></div>
          <div class="menu_icon text-center " style = "padding-top: 50px; font-size: 32px;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
          <h5 class="card-box-title ">{{item.product}}</h5>
          <div>
            <p>Jakarta</p>
            <p>Mie Gacoan</p>
          </div>
          <div class="trash_icon">
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="relative ">
            <a class="nav-btn-custom">
              See Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% comment %} Card Item {% endcomment %}
</div>

{% endblock content %}